.bordered-div {
    position: relative;
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 20px auto;
  }
  
  .border-text {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  